a {
text-decoration: none;
}
.result-item-list {
margin-bottom: 42px;
}
.result-itme {
margin-bottom: 16px;
}
.result-title {
font-size: 18px;
}
.result-title > a {
font-size: 18px;
color:#1a0dab;
}
.result-title > a:hover {
text-decoration:underline;
}
.result-info {
margin-bottom: 2px;
}
.result-info-item {
margin-right: 5px;
color:#727272;
}
.result-shower {
max-width: 620px;
min-width: 620px;
padding-left: 10px;
padding-right: 10px;
margin-right: 30px;
margin-bottom: 30px;
}
.attachment {
margin-right: 4px;
}
.attachment-name {
color: #5a5a5a;
padding-right: 8px;
}
.picture {
margin: 3px;
max-width: 120px;
max-height: 120px;
}
.attach-descript {
color:#727272;
}