<template>
  <v-footer class='base-footer' height="auto">
    <v-layout row wrap align-center>
      <v-flex xs12>
        <v-card flat >
          <v-card-title class="grey lighten-4 grey-darken-1--text">
            <strong class="subheading"></strong>
            <v-spacer></v-spacer>
            <v-btn
              v-for="icon in icons"
              :key="icon"
              icon
              dark
              class="mx-3"
            >
              <v-icon size="24px">{{ icon }}</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-actions class="grey lighten-4 justify-center">
            &copy;2018 — <strong>CARERATIVE</strong>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
      icons: ['fab fa-facebook', 'fab fa-twitter', 'fab fa-google-plus', 'fab fa-linkedin', 'fab fa-instagram'],
      rows: [
        {
          title: 'Company Name',
          children: ['Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit']
        },
        {
          title: 'Products',
          children: ['MDBootstrap', 'MDWordPress', 'BrandFlow', 'Bootstrap Angular']
        },
        {
          title: 'Useful Links',
          children: ['Your account', 'Become an Affiliate', 'Shipping Rates', 'Helper']
        }
      ]
    })
  }
</script>

<style>
.base-footer {
  border-top: 1px solid #E0E0E0;
}
</style>
