<template>
  <favorite-content></favorite-content>
</template>

<script>
import FavoriteContent from "../components/Favorite"

export default {
  components: {
      FavoriteContent
  }
}
</script>

<style>

</style>
