<template>  
  <v-content>
    <v-container>
      <v-layout>
        <v-flex class="result-shower">
          <v-layout justify-center>
            <v-flex xs12 sm10 md8>
              <v-card flat color='grey lighten-5'>
                <v-card-title>
                  <h3 class='tltle' v-text="title"></h3><span class='count-info' :v-model="pageInfo.total">一共有 {{pageInfo.total}} 篇</span>
                </v-card-title>
              </v-card>
            </v-flex>
          </v-layout>
          <v-layout justify-center class='result-item-list'>
            <!-- <v-flex ms2 md4>
            </v-flex> -->
            <v-flex xs12 sm10 md8>
              <result-element
                :flat=ture
                class='mb-2 pa-2'
                v-for="resultItem in resultItems"
                :key="resultItem.url"
                :resultItem="resultItem"
                :canBeRemove="true"
                :isFlatCard="false"></result-element>
            </v-flex>
          </v-layout>
          <v-layout justify-center class='pager'>
            <v-flex v-if="pageInfo.pageNum > 1" xs12 ms10 md8>
              <v-card color="grey lighten-5" flat class="text-xs-center">
                <v-card-text>
                  <v-pagination
                    color="pink darken-2"
                    :total-visible="pageInfo.pageSize"
                    :length="pageInfo.pageNum"
                    @input="turnPage()"
                    v-model="pageInfo.pageIndex"></v-pagination>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import ResultElement from "./ResultElement"

import APIHelper from '../api/helper'
import favoriteAPI from '../api/favorite'
import store from '../store/store'
import Data from "../store/data"
import bus from '../util/bus'

export default {
  data: () => ({
    resultItems: [],
    pageInfo: {
      pageIndex: 1,
      pageSize: 7,
      pageNum: 0,
      total: 0
    },
    title: '收藏',
    isArticle: true
  }),
  created() {
    console.log('Favorite.vue-created');
  },
  mounted() {
    // this.resultItems = Data.generateResultItems();
    // this.pageInfo = Data.pageInfo;
    let parts = this.$route.path.split('/');
    this.isArticle = parts[parts.length - 1] == 'articles';
    this.turnPage();
    this.listenTo();
  },
  updated() {
    console.log('Favorite.vue-update');
  },
  activated() {
    console.log('Favorite.vue-actived');
  },
  deactivated() {
    console.log('Favorite.vue-deactived');
  },
  components: {
    ResultElement
  },
  methods: {
    listFavoriteArticles() {
      let uid = store.user.uid;
      let index = this.pageInfo.pageIndex;
      let pageSize = this.pageInfo.pageSize;
      favoriteAPI.listFavoriteArticles(uid, index, pageSize, (err, res) => {
        if (err) {
          // TODO@DoneSpeak 显示提示
          alert("获取列表失败");
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          // TODO@DoneSpeak 显示提示
          alert("获取列表失败: " + res.msg);
          return;
        }
        this.resultItems = res.data.resultItems;
        this.pageInfo = res.data.pageInfo;
      });
    },
    listFavoriteAttaches() {
      let uid = store.user.uid;
      let index = this.pageInfo.pageIndex;
      let pageSize = this.pageInfo.pageSize;
      favoriteAPI.listFavoriteAttaches(uid, index, pageSize, (err, res) => {
        if (err) {
          // TODO@DoneSpeak 显示提示
          alert("获取列表失败");
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          // TODO@DoneSpeak 显示提示
          alert("获取列表失败: " + res.msg);
          return;
        }
        this.resultItems = res.data.resultItems;
        this.pageInfo = res.data.pageInfo;
      });
    },
    turnPage() {
      if(this.isArticle) {
        this.listFavoriteArticles();
        this.title = '文章收藏';
      } else {
        this.listFavoriteAttaches();
        this.title = '附件收藏';
      }
    },
    listenTo() {
      bus.$on('remove-favorite', callback => {
        this.pageInfo.total --;
        this.pageNum = Math.ceil(this.pageInfo.pageNum / this.pageInfo.spaeSize);
      });
    }
  }
}
</script>

<style scoped>
.count-info {
  margin-left: 8px;
  color: #757575;
}
</style>
