<template>
  <v-content>
    <v-container fluid>
      <v-layout justify-center>
        <v-flex xs12 sm8 md6>
          <v-card height='420px'>
            <v-card-title>
                <h3 class='title'>关于这个网站</h3>
            </v-card-title>
            <v-card-text>
              <p>
                  深圳大学公文通检索的系统，旨在帮助师生更方便更及时地获取到校内的公文通内容。
              </p>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {
    data: () => ({
    }),
    mounted() {
      
    },
    computed: {
      
    },
    methods: {
      
    }
}
</script>

<style scoped>
.password-form {
  width: 420px;
}
</style>
