<template>
  <v-card 
    v-if="!removed || !canBeRemove"
    class="result-itme"
    :flat="isFlatCard">
    <div class="result-title">
      <v-menu v-if="resultItem.isAttach" offset-y>
        <v-icon class='attach-title-pre-icon' slot="activator">attachment</v-icon>
        <v-btn-toggle>
          <v-btn flat :href="resultItem.url" target="_blank">
            <v-tooltip bottom>
              <v-icon color="primary" slot="activator">get_app</v-icon>
              <span>内网下载</span>
            </v-tooltip>
          </v-btn>
          <!-- <v-btn flat @click="downloadAttach(resultItem.id)">
            <v-tooltip bottom>
              <v-icon color="teal" slot="activator">get_app</v-icon>
              <span>外网下载</span>
            </v-tooltip>
          </v-btn> -->
        </v-btn-toggle>
      </v-menu>
      <a :href="resultItem.url" target='_blank' v-html="resultItem.title"></a>
    </div>
    <div class="result-info">
      <span class="result-category result-info-item">{{resultItem.category.name}}</span>
      <span class="result-pulisher result-info-item">{{resultItem.publisher.name}}</span>
      <span class="result-pulished-time result-info-item">发布: {{publishedTime}}</span>
      <span v-if="resultItem.updatedTime != null && resultItem.updatedTime != resultItem.publishedTime"
        class="result-updated-time result-info-item">更新: {{updatedTime}}</span>
      <a v-if="!isArticle" class="result-article-url result-info-item" :href="resultItem.articleUrl" target='_blank' :title="resultItem.articleUrl">来源</a>
    </div>
    <div v-if="singleImgType" class="result-content">      
      <v-layout>
        <v-flex d-flex>
          <v-card flat>
            <img class='s-img-picture' :src="resultItem.pictures[0].path"/>
          </v-card>
        </v-flex>
        <v-flex d-flex>
          <div class="s-img-result-abstract" v-html="resultItem.digest"></div>
        </v-flex>
      </v-layout>
    </div>
    <div v-else class="result-content">      
      <div class="result-pictures" v-if="resultItem.pictures != null && resultItem.pictures.length > 0">
        <v-card flat>
          <img class='picture' v-for="pic in resultItem.pictures" :key="pic.id" :src="pic.path"/>
        </v-card>
      </div>
      <div class="result-abstract" v-html="resultItem.digest"></div>
    </div>
    <div class="result-sub">
      <a href='javascript:void(0)'
        v-if="canBeRemove"
        @click="cancleFavorite(resultItem.id)">
        <v-icon
          color="grey">
          delete
        </v-icon>
      </a>
      <a href='javascript:void(0)' v-else @click="changeFavorite()">
        <v-icon class="favorite" 
          color="grey lighten-1"
          v-if="!isFavorite"
          >bookmark_border</v-icon>
        <v-icon
          color="pink"
          v-else
        >bookmark</v-icon>
      </a>
      <span class='attach-descript' 
        v-if="resultItem.isArticle">
        相关附件
      </span>
      <span class='attach-descript' 
        v-else>
        同源附件
      </span>
      <v-menu class='attachment' v-for="attachment in resultItem.attaches" :key="attachment.id" offset-y>
        <v-icon slot="activator">attachment</v-icon>
        <v-btn-toggle>
          <v-btn flat :href="attachment.url" target="_blank">
            <v-tooltip bottom>
              <v-icon color="primary" slot="activator">get_app</v-icon>
              <span>内网下载</span>
            </v-tooltip>
          </v-btn>
          <v-btn flat @click="downloadAttach(attachment.id)">
            <v-tooltip bottom>
              <v-icon color="teal" slot="activator">get_app</v-icon>
              <span>外网下载</span>
            </v-tooltip>
          </v-btn>
          <div class="text-xs-center d-flex align-center">
            <span class="attachment-name">{{attachment.filename}}</span>
          </div>
        </v-btn-toggle>
      </v-menu>
    </div>
  </v-card>
</template>

<script>
import util from "../util/util"
import store from '../store/store'
import favoriteAPI from '../api/favorite'
import APIHelper from '../api/helper'
import bus from '../util/bus'

export default {
  props: ['resultItem', 'canBeRemove', 'isFlatCard'],
  data: () => ({
    id: 0,
    isAttach: false,
    isArticle: true,
    isFavorite: false,
    removed: false
  }),
  mounted() {
    this.id = this.resultItem.id;
    this.isFavorite = this.resultItem.isfavorite;
    this.isArticle = this.resultItem.isArticle;
    this.isAttach = !this.isArticle;
  },
  computed: {
    singleImgType: function () {
      return this.resultItem.pictures != null 
        && 0 < this.resultItem.pictures.length && this.resultItem.pictures.length < 3;
    },
    updatedTime: function() {        
        return this.timestampToDate(this.resultItem.updatedTime);
    },
    publishedTime: function() {
        return this.timestampToDate(this.resultItem.publishedTime);
    }
  },
  methods: {
    downloadAttach(attachId) {
      // TODO@DoneSpeak 用流的方式，通过后台下载附件
      alert("这里会从服务器下载文件: " + attachId);
    },
    timestampToDate(timestamp) {
        if(timestamp == null || timestamp == 'undefined' || timestamp == 0) {
            return null;
        }
        let date = util.formatDate.call(new Date(timestamp), "yyyy-MM-dd hh:mm");
        return date;
    },
    changeFavorite() {
      if(this.isFavorite) {
        this.cancleFavorite(this.id);
      } else {
        this.setFavorite(this.id);
      }
    },
    setFavorite(id) {
      if(this.isArticle) {
        this.addFavoriteArticle(id);
      } else {
        this.addFavoriteAttach(id);
      }
    },
    cancleFavorite(id) {
      const callback = {};
      bus.$emit('remove-favorite', callback);
      if(this.isArticle) {
        this.removeFavoriteArticle(id);
      } else {
        this.removeFavoriteAttach(id);
      }
    },
    addFavoriteArticle(articleId) {
      let uid = store.user.uid;
      favoriteAPI.addFavoriteArticle(uid, articleId, (err, res) => {
        if (err) {
          // TODO@DoneSpeak 显示提示
          alert("收藏文章失败");
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          // TODO@DoneSpeak 显示提示
          alert("收藏文章失败: " + res.msg);
          return;
        }
        this.isFavorite = true;
      });
    },
    addFavoriteAttach(attachId) {
      let uid = store.user.uid;
      favoriteAPI.addFavoriteAttach(uid, attachId, (err, res) => {
        if (err) {
          // TODO@DoneSpeak 显示提示
          alert("收藏附件失败");
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          // TODO@DoneSpeak 显示提示
          alert("收藏附件失败: " + res.msg);
          return;
        }
        this.isFavorite = true;
      });
    },
    removeFavoriteArticle(articleId) {
      let uid = store.user.uid;
      favoriteAPI.removeFavoriteArticle(uid, articleId, (err, res) => {
        if (err) {
          // TODO@DoneSpeak 显示提示
          alert("取消文章收藏失败");
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          // TODO@DoneSpeak 显示提示
          alert("取消文章收藏失败: " + res.msg);
          return;
        }
        this.isFavorite = false;
        this.removed = true;
      });
    },
    removeFavoriteAttach(attachId) {
      let uid = store.user.uid;
      favoriteAPI.removeFavoriteAttach(uid, attachId, (err, res) => {
        if (err) {
          // TODO@DoneSpeak 显示提示
          alert("取消附件收藏失败");
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          // TODO@DoneSpeak 显示提示
          alert("取消附件收藏失败: " + res.msg);
          return;
        }
        this.isFavorite = false;
        this.removed = true;
      });
    }
  }
}
</script>


<style scoped>
a {
  text-decoration: none;
}
.result-item-list {
  margin-bottom: 42px;
}
.result-itme {
  margin-bottom: 16px;
}
.result-title {
  font-size: 18px;
}
.result-title > a {
  font-size: 18px;
  color:#1a0dab;
}
.result-title > a:hover {
  text-decoration:underline;
}
.result-info {
  margin-bottom: 2px;
}
.result-info-item {
  margin-right: 5px;
  color:#727272;
}
.result-article-url:hover {
  color: #1a0dab;
}
.result-shower {
  max-width: 620px;
  min-width: 620px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.attachment {
  margin-right: 4px;
}
.attachment-name {
  color: #5a5a5a;
  padding-right: 8px;
}
.picture {
  margin: 3px;
  max-width: 120px;
  max-height: 120px;
}
.attach-descript {
  color:#727272;
}
.attach-title-pre-icon {
  margin-bottom: 5px;
}
.s-img-picture-wrap {
   display: inline-block;
}
.s-img-picture {
  margin: 3px;
  max-width: 120px;
  max-height: 120px;
}
.s-img-result-abstract {
  display: inline-block;
  padding-left: 12px;
}
</style>