<template>
    <v-content class='left-margin'>
      <v-layout>
        <v-flex class="result-shower">
          <v-layout class='result-item-list'>
            <v-flex>
              <result-element
                v-for="resultItem in resultItems"
                :key="resultItem.url"
                :resultItem="resultItem"
                :canBeRemove="false"
                :isFlatCard="true"
                :canBeFavorite="canBeFavorite"></result-element>
            </v-flex>
          </v-layout>
          <v-layout row wrap class='relative-query' v-if="relativeQueries.length > 0">
            <v-flex xs12>
              <div class="rq-title">
                <h3>相关检索</h3>
              </div>
            </v-flex>
            <v-flex xs12>
              <div
                v-for="(queries, index) in queryGroups"
                :key="index"
                class="rq-col">
                <p
                  v-for="(qurey,i) in queries"
                  :key="i">
                  <a href="#" v-text="qurey"></a>
                </p>
              </div>
            </v-flex>
          </v-layout>
          <v-layout class='pager'>
            <v-flex v-if="pageInfo.pageNum > 1">
              <div class="text-xs-center">
                <v-pagination 
                  color="pink darken-2" 
                  :total-visible="pageInfo.pageSize" 
                  :length="pageInfo.pageNum" 
                  v-model="pageInfo.pageIndex"
                  @input="pageTurn()">
                </v-pagination>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex class="relative-side" sm6 md2>
          <v-card color="pink lighten-2" dark>
          </v-card>
          <v-card color="blue lighten-2" dark>
          </v-card>
        </v-flex>
      </v-layout>
    </v-content>
</template>

<script>
import ResultElement from "./ResultElement"
import Data from "../store/data"
import bus from "../util/bus.js"
import util from "../util/util.js"

export default {
  data: () => ({
    resultItems: [],
    pageInfo: {},
    relativeQueries: [],
    timecost: '',
    totalhits: '',
    canBeFavorite: true
  }),
  mounted() {
    // this.resultItems = Data.generateResultItems();
    // this.relativeQueries = Data.relativeQueries;
    // this.pageInfo = Data.pageInfo;
    this.listenTo();
  },
  computed: {
    queryGroups: function() {
      let queries = this.relativeQueries;
      if(queries == null || queries.length == 0) {
        return [];
      }
      let group = [];
      let groupSize = 5;
      let maxGroupNum = 3;
      let maxQueryNum = groupSize * maxGroupNum;
      queries = queries.slice(0, maxQueryNum);
      let groupNum = Math.ceil(queries.length / groupSize);
      let start = 0;
      for(let index = 0; index < maxGroupNum; index ++) {
        group[index] = queries.slice(start, start + groupSize);
        start += groupSize;
      }
      return group;
    }
  },
  components: {
    ResultElement
  },
  methods: {
    listenTo() {
        bus.$on("Search-Result-Items", data => {
          this.resultItems = data.resultItems;
          this.pageInfo = data.pageInfo;
          this.timecost = data.timecost;
          this.totalhits = data.totalhits;
          const statistics = {timecost: this.timecost, totalhits: this.totalhits};

          bus.$emit("Search-Statistics", statistics);
        });
        bus.$on("Search-Relative-Queries", data => {
          this.relativeQueries = data.queries;
        });
    },
    pageTurn() {
      // alert(this.pageInfo.pageIndex)
      const pageIndex = this.pageInfo.pageIndex;
      bus.$emit('Page-Turn', pageIndex);
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}
.result-item-list {
  margin-bottom: 42px;
}
.result-itme {
  margin-bottom: 16px;
}
.result-title {
  font-size: 18px;
}
.result-title > a {
  font-size: 18px;
  color:#1a0dab;
}
.result-title > a:hover {
  text-decoration:underline;
}
.result-info {
  margin-bottom: 2px;
}
.result-info-item {
  margin-right: 5px;
  color:#727272;
}
.result-shower {
  max-width: 620px;
  min-width: 620px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.left-margin {
  margin-left: 140px;
}
.relative-query {
   margin-bottom: 24px;
}
.relative-side {
  min-width: 300px;
  max-width: 400px;
}
.attachment {
  margin-right: 4px;
}
.attachment-name {
  color: #5a5a5a;
  padding-right: 8px;
}
.picture {
  margin: 3px;
  max-width: 120px;
  max-height: 120px;
}

/* relative queries */
.rq-title > h3{
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}
.rq-col {
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;
}
.rq-col > p {
  margin: 0;
}
.rq-col > p > a{
  display: inline-block;
  padding: 2px 0px 2px 0;
  text-decoration: none;
  color: #1a0dab;
}
</style>
