<template>
  <div>
    <signin :displayme="modalShower.signin" @hide="hideSignin"></signin>
    <signup :displayme="modalShower.signup" @hide="hideSignup"></signup>
    <v-layout row justify-center>
      <v-dialog class='dialog-selecter' scrollable v-model="modalShower.publisherSelecter" width=“1020px” max-width="1020px">
        <v-card>
          <v-card-title>
            <h4 class="headline">选择发文单位</h4><span class='publisher-selecter-tips'>试着使用 Ctrl + F 进行查找</span>
          </v-card-title>
          <v-card-text>
            <v-layout class='publisher-panel' row wrap justify-center>
              <div v-for="(publishers,index) in publisherGroups" :key="index" class='publisher-group'>
                <p 
                  class='publisher-item'
                  :class="{'pulisher-cur': publisher.id == searchOption.publisher.id}"
                  v-for="publisher in publishers"
                  :key="publisher.id"
                  @click="changePublisher(publisher)">
                  <v-chip class='publisher-chip' small outline color="grey darken-1">{{publisher.name}}</v-chip>
                </p>
              </div>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="pink lighten-1" dark @click.native="modalShower.publisherSelecter = false">关闭</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog class='dialog-selecter' v-model="modalShower.durationSelecter" max-width="540px">
        <v-card>
          <v-card-text>
            <v-layout>
              <v-flex d-flex>
                <v-card flat>
                  <v-card-title><h3>选择一个时间区间</h3></v-card-title>
                  <v-card-text>
                    <v-text-field v-model="durationRecorder.start" prefix='从 ' flat single-line @focus="durationRecorder.switchToStartPicker = true"></v-text-field>
                    <v-text-field v-model="durationRecorder.end" prefix='到 ' flat single-line @focus="durationRecorder.switchToStartPicker = false"></v-text-field>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click.native="changeDurationCustom()">确定</v-btn>
                    <v-btn color="primary" @click.native="modalShower.durationSelecter = false;">关闭</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
              <v-flex d-flex>
                <v-date-picker v-if="durationRecorder.switchToStartPicker" v-model="durationRecorder.start"
                  color="pink darken-1" no-title></v-date-picker>
                <v-date-picker v-else v-model="durationRecorder.end" 
                  color="pink darken-1" no-title></v-date-picker>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-toolbar flat dense color="grey lighten-4" height="62">
      <div class="logo-card">
        <a href="/"><img class='logo' src='../assets/images/logo.png'></a>
      </div>
      <v-card width=600 class="searcher-card">
        <v-text-field
          flat
          append-icon='search'
          placeholder='输入你想要检索的内容'
          autofocus
          solo
          single-line
          v-model="searchOption.query"
          :append-icon-cb="searchFirstPage"
          @keyup.enter="searchFirstPage()"
        ></v-text-field>
      </v-card>
      <v-spacer></v-spacer>
      <v-tooltip v-if="user.isLogin" bottom>
        <v-btn icon large  slot="activator" to="/user">
          <v-avatar class='grey lighten-4' size="45">
            <img :src="user.avatar">
          </v-avatar>
        </v-btn>
        <div class='user-info-tip'>
          <span v-text="user.name"></span>
          <span v-text="user.email"></span>
        </div>
      </v-tooltip>
      <div v-else>
        <a class='link-btn' @click.stop="modalShower.signin=true">登录</a>
        <a class='link-btn' @click.stop="modalShower.signup=true">注册</a>
      </div>
    </v-toolbar>
    <v-layout class="option-setting">
      <v-flex xs12  class="left-margin">
        <div>
          <v-menu
            offset-y>
            <v-btn right block flat small slot="activator">
              {{searchOption.region.name}}
            </v-btn>
            <v-list dense>
              <div class="option-item" 
                v-for="item in regions" 
                :key="item.id" 
                @click="changeRegion(item)"
                :class="{selected: searchOption.region.id == item.id}"
              >
                <a class='list__tile list__tile--link'>{{ item.name }}</a>
              </div>
            </v-list>
          </v-menu>
          <v-menu
            offset-y>
            <v-btn right block flat small slot="activator">
              {{durationRecorder.duration.name}}
            </v-btn>
            <v-list>
              <v-list dense>
                <div class="option-item" v-for="item in durations" :key="item.value" 
                  @click="changeDuration(item)"
                  :class="{selected: durationRecorder.duration.value == item.value}">
                  <a class='list__tile list__tile--link'>{{ item.name }}</a>
                </div>
                <v-divider></v-divider>
                <div class="option-item duration-custom" @click="modalShower.durationSelecter = true"
                  :class="{selected: durationRecorder.duration.value == '--'}">
                  <a class='list__tile list__tile--link'>自定范围</a>
                </div>
            </v-list>
            </v-list>
          </v-menu>
          <v-menu
            offset-y>
            <v-btn right block flat small slot="activator">
              {{searchOption.category.name}}
            </v-btn>
            <v-list dense>
              <div
                class="option-item"
                v-for="item in categories"
                :key="item.id" 
                @click="changeCategory(item)"
                :class="{selected: searchOption.category.id == item.id}">
                <a class='list__tile list__tile--link'>{{ item.name }}</a>
              </div>
            </v-list>
          </v-menu>
          <v-menu
            offset-y>
            <v-btn right block flat small slot="activator" @click="modalShower.publisherSelecter = true">
              {{searchOption.publisher.name}}
            </v-btn>
          </v-menu>
        </div>
      </v-flex>
    </v-layout>
    <v-layout class="search-info left-margin">
      <v-flex v-if="!!statistics.totalhits">
        <span>Carelative 为您找到相关结果约{{ statistics.totalhits }}个</span>&nbsp;&nbsp;&nbsp;<span>耗时 {{ statistics.timecost }}</span>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Signin from "./Signin"
import Signup from "./Signup"
import util from "../util/util"
import Data from "../store/data"
import bus from "../util/bus.js"
import store from "../store/store.js"
import categoryAPI from '../api/category'
import publisherAPI from '../api/publisher'
import searchAPI from '../api/search'
import APIHelper from '../api/helper'

export default {
  data: () => ({
    user: {
      name: '',
      email: '',
      avatar: '',
      uid: '',
      isLogin: false
    },
    modalShower: {
      signin: false,
      signup: false,
      publisherSelecter: false,
      durationSelecter: false,
    },
    durationRecorder: {
      switchToStartPicker: true,
      duration: {
        value: null,
        name: '时间不限'
      },
      start: '',
      end: ''
    },
    searchOption: {
      query: '',
      region: {
        id: null,
        name: "区域不限"
      },
      category: {
        id: null,
        name: '类别不限'
      },
      publisher: {
        id: null,
        name: '发文单位不限'
      },
      durationStart: null,
      durationEnd: null,
      pageIndex: 1
    },
    regions: [
      {
        id: null,
        name: "区域不限"
      },
      {
        id: 'ARTICLE',
        name: "搜索文章"
      },
      {
        id: 'ATTACH',
        name: "搜索附件"
      },
    ],
    categories: [],
    publishers: [],
    durations: [
      {
        value: null,
        name: '时间不限'
      },
      {
        value: '1-d',
        name: '一天以内'
      },
      {
        value: '3-d',
        name: '三天以内'
      },
      {
        value: '1-m',
        name: '一月以内'
      },
      {
        value: '4-m',
        name: '四月以内'
      },
      {
        value: '1-y',
        name: '一年以内'
      }
    ],
    statistics: {
      timecost: '',
      totalhits: ''
    }
  }),
  created() {
    // TODO@DoneSpeak 在query中解析searOption
    this.user = store.user;
    this.initPublishers();
    this.initCategories();
    this.listenTo();
    // 暂时不从 url 里面读取数据
    // this.initSearchOptionFromRouterParams();
  },
  mounted() {
    this.searchOption.query = this.$route.params.query;
    this.search();
  },
  computed: {
    publisherGroups: function() {
      let publishers = this.publishers;
      let group = [];
      let maxGroupNum = 7;
      let groupSize = Math.ceil(publishers.length / maxGroupNum);
      let start = 0;
      for(let index = 0; index < maxGroupNum; index ++) {
        group[index] = publishers.slice(start, start + groupSize);
        start += groupSize;
      }
      return group;
    }
  },
  methods: {
    initPublishers() {
        // debugger;
      publisherAPI.listPublishers((err, res) => {
        // debugger;
        if (err) {
          this.publishers = [];
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          this.publishers = [];
          return;
        }
        this.publishers = res.data.publishers;
        this.publishers.sort((x, y) => {
          let result = x.name.length - y.name.length;
          if(result == 0) {
            if(x.name > y.name) {
              return 1;
            }
            if (x.name < y.name) {
              return -1;
            }
            return 0;
          }
          return result;
        });
        this.publishers[this.publishers.length] = {
          id: null,
          name: '发文单位不限'
        }
        this.searchOption.publisher = this.publishers[this.publishers.length - 1];
        // TODO@DoneSpeak 暂时不从 url 里面读取数据
        // let publisherInUrl = this.$route.query.publisher ;
        // if(publisherInUrl != null && !isNaN(publisherInUrl)) {
        //   for(let pub in this.publishers) {
        //     if(!!this.publishers[pub] && this.publishers[pub].id == publisherInUrl) {
        //       this.searchOption.publisher = this.publishers[publisherInUrl];
        //       break;
        //     }
        //   }
        // }
      });
    },
    initCategories() {
      categoryAPI.listCategories((err, res) => {
        if (err) {
          this.categories = [];
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          this.categories = [];
          return;
        }
        this.categories = res.data.categories;
        this.categories[this.categories.length] = {
          id: null,
          name: '类别不限'
        }
        this.searchOption.category = this.categories[this.categories.length - 1];
        // TODO@DoneSpeak 暂时不从 url 里面读取数据
        // let categoryInUrl = this.$route.query.category ;
        // if(categoryInUrl != null && !isNaN(categoryInUrl)) {
        //   for(let cate in this.categories) {
        //     if(!!this.categories[cate] && this.categories[cate].id == categoryInUrl) {
        //       this.searchOption.category = this.categories[categoryInUrl];
        //     }
        //   }
        // }
      });
    },
    hideSignin() {
      this.modalShower.signin = false;
    },
    hideSignup() {
      this.modalShower.signup = false;
    },
    changeRegion(region) {
      if(this.searchOption.region.id != region.id) {
        this.searchOption.region = region;
        this.searchOption.pageIndex = 1;
        this.search();
      }
    },
    changeCategory(category) {
      if(this.searchOption.category.id != category.id) {
        this.searchOption.category = category;
        this.searchOption.pageIndex = 1;
        this.search();
      }
    },
    changePublisher(publisher) {
      if(this.searchOption.publisher.id != publisher.id) {
        this.searchOption.publisher = publisher;
        this.searchOption.pageIndex = 1;
        this.search();
      }
      this.modalShower.publisherSelecter = false;
    },
    changeDuration(duration) {
      this.durationRecorder.duration.value = duration.value;
      this.durationRecorder.duration.name = duration.name;
      console.log(duration);
      if(duration.value == null || this.durations[0].value == duration.value) {
        this.searchOption.durationStart = null;
        this.searchOption.durationEnd = null;

        this.searchOption.pageIndex = 1;
        this.search();
        return;
      }
      let timePair = duration.value.split('-');
      let end = util.getDayEnd();
      let start =  util.addData(end, -timePair[0], timePair[1]);

      this.searchOption.durationStart = (start == null? null: start.getTime());
      this.searchOption.durationEnd = (end == null? null: end.getTime());

      this.searchOption.pageIndex = 1;
      this.search();
    },
    changeDurationCustom() {
      // 关闭时间选择器
      this.modalShower.durationSelecter = false;

      let start = new Date(this.durationRecorder.start);
      let end = new Date(this.durationRecorder.end);
      if(start == 'Invalid Date' && end == 'Invalid Date') {        
        this.durationRecorder.start = '';
        this.durationRecorder.end = '';
        console.log('没有选择');
        return ;
      }
      let now = util.getDayBegin();
      if(start == 'Invalid Date') {
        // 开始为空 - 表示直到 end 的时间
        start = null;
      } else if(end == 'Invalid Date') {
        // 结束为空 - 表示 从 start 时间开始。如果选择的时间超过现在，这转化为直至
        if(start > now) {
          end = start;
          start = null;
        } else {
          end = null;
        }
      } else {
        if(start > end) {
          let temp = end;
          end = start;
          start = temp;
        }
      }
      this.setSearchOptionDuration(start, end);
      this.searchOption.pageIndex = 1;
      this.search();
    },
    setSearchOptionDuration(start, end) {
      this.searchOption.durationStart = (start == null? null: start.getTime());
      this.searchOption.durationEnd = (end == null? null: end.getTime() + (23 * 60 * 60 + 59 * 60 + 59) * 1000);
      this.durationRecorder.start = (start == null? null: util.formatDate.call(start, 'yyyy-MM-dd'));
      this.durationRecorder.end = (end == null? null: util.formatDate.call(end, 'yyyy-MM-dd'));

      let startText = (start == null? null: util.formatDate.call(start, 'yyyy年MM月dd日'));
      let endText = (end == null? null: util.formatDate.call(end, 'yyyy年MM月dd日'));
      if(start !=null && end != null){
        this.durationRecorder.duration.name = startText + '-' + endText;
      } else if(start == null) {
        this.durationRecorder.duration.name = endText + '前';
      } else {
        this.durationRecorder.duration.name = startText + '后';
      }
      this.durationRecorder.duration.value = '--';
    },
    searchFirstPage() {
      this.searchOption.pageIndex = 1;
      this.search();
    },
    search() {
      let options = {};
      if(this.searchOption.query != null && this.searchOption.query != 'undefined') {
        options.query = this.searchOption.query;
      } else {
        options.query = '';
      }
      options.region = this.searchOption.region.id;
      options.durationStart = this.searchOption.durationStart;
      options.durationEnd = this.searchOption.durationEnd;
      options.category = this.searchOption.category.id;
      options.publisher = this.searchOption.publisher.id;
      options.pageIndex = this.searchOption.pageIndex;
      
      searchAPI.search(options, (err, res) => {
        if (err) {
          // TODO@DoneSpeak 显示提示
          alert("检索失败");
          return;
        }
        if(!APIHelper.isSuccessResult(res.code)) {
          // TODO@DoneSpeak 显示提示
          alert("检索失败: " + res.msg);
          return;
        }
        const data = res.data;
        bus.$emit("Search-Result-Items", data);
      });
      if(options.query != '') {
        searchAPI.relativeQuery(options.query, (err, res) => {
          if (err) {
            // TODO@DoneSpeak 显示提示
            alert("检索失败");
            return;
          }
          if(!APIHelper.isSuccessResult(res.code)) {
            // TODO@DoneSpeak 显示提示
            alert("检索失败: " + res.msg);
            return;
          }
          const data = res.data;
          bus.$emit("Search-Relative-Queries", data);
        })
      } else {
        const data = {
          queries:[]
        }
        bus.$emit("Search-Relative-Queries", data);
      }
    },
    initSearchOptionFromRouterParams() {
      let params = this.$route.query;
      this.searchOption.query = params.query;
      // this.searchOption.category = params.category;
      // this.searchOption.publisher = params.publisher;
      let regionId = params.region;
      this.searchOption.region = this.regions[0];
      if(regionId != null && !isNaN(regionId)) {
        for(let i in this.regions) {
          if(this.regions[i].id == regionId) {
            this.searchOption.region = this.regions[i];
          }
        }
      }
      if(params.durationStart != null && !isNaN(params.durationStart)) {
        this.searchOption.durationStart = params.durationStart;
      }
      if(params.durationStart != null && !isNaN(params.durationEnd)) {
        this.searchOption.durationEnd = params.durationEnd;
      }
    },
    listenTo() {
      bus.$on("User-Signin", callback => {
        this.user = store.user;
      });
      bus.$on("User-Signup", callback => {
        this.user = store.user;
      });

      bus.$on("Search-Statistics", statistics => {
        if(!!statistics.timecost) {
          this.statistics = {}
          this.statistics.timecost = util.formatNumber(statistics.timecost)  + ' ms';
          this.statistics.totalhits = util.formatNumber(statistics.totalhits);
        }
      });

      bus.$on('Page-Turn', pageIndex => {
        this.searchOption.pageIndex = pageIndex;
        this.search();
      });
    }
  },
  components: {
    Signin,
    Signup
  }
};
</script>

<style scoped>
.logo-card {
  height: 46px;
  width: 130px;
  text-align: center;
}
.logo-card > a{
  margin: 0;
  padding: 0;
  outline: none;
}
.link-btn {
  margin: 6px;
  text-decoration: none;
  color: #2c2c2c;
}
.logo {
  height: 42px;
}
.option-setting {
  background-color: #F5F5F5;
  border-bottom: 1px solid #b6b6b6;
  /* border-bottom: 2px solid #F06292; */
}
.option-item > a {
  height: 28px;
  max-height: 28px;
  color: #636363;
}
.selected {
  background: #e2e2e2;
}
.search-info {
  padding: 7px;
  color: #999;
  font-size: 12px;
}
.left-margin {
  margin-left: 162px;
}

.dialog-selecter {
  margin-top: -200px;
}
.publisher-group {
  min-width: 120px;
}

/* publisher */
.publisher-panel {
  /* overflow: auto; */
  /* width: 982px; */
  height: 420px;
}
.publisher-item {
  margin-bottom: 2px;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  color: #3d3d3d;
  cursor: pointer;
}
.pulisher-cur, .publisher-item:hover {
  background: #F8BBD0;
}
.publisher-selecter-tips {
  margin-top:8px;
  margin-left: 8px;
  font-size: 12px;
  color: #636363;
  /* color: #fff; */
}
.duration-custom {
  margin-top: 4px;
}
.publisher-chip {
  margin: 0;
}
.publisher-chip, .publisher-chip > span {
  width: 100%;
}
</style>
