<template>
  <v-content>
    <v-container fluid>
      <v-layout justify-center>
        <v-flex xs12 sm8 md6>
          <v-card>
            <v-card-text>
              <v-layout justify-center>
                  <v-card class='password-form' flat>
                    <v-card-title>
                      <h3>修改密码</h3>
                    </v-card-title>
                    <v-card-text class="account-card">
                      <v-layout justify-center row wrap>
                        <v-flex xs12>
                          <v-text-field
                            label="帐号邮箱"
                            v-model="email"
                            prepend-icon="email"
                            single-line
                          ></v-text-field>
                          <v-flex xs12>
                            <v-text-field
                              label="当前密码"
                              v-model="password"
                              prepend-icon="lock"
                              type='password'
                              single-line
                            ></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field
                              label="新密码"
                              hint="必须包含数字和字符，且长度大于8"
                              :rules="[rules.required, rules.password]"
                              v-model="newPassword"
                              prepend-icon="lock"
                              type='password'
                              ref="newPassword"
                              single-line
                            ></v-text-field>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="pink darken-1" dark
                      @click="updatePassword()">
                      确定
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import store from '../store/store'
import userAPI from '../api/user'
import APIHelper from '../api/helper'

// TODO@DoneSpeak 修改密码可以修改为通过邮箱接收修改密码链接的方式修改密码

export default {
    data: () => ({
      email: '',
      password: '',
      newPassword: '',
      rules: {
        required: (value) => !!value || '不能为空',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'e-mail 格式不正确'
        },
        password: (value) => {
          const pattern = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
          return pattern.test(value) || '必须包含数字和字符，且长度大于8';
        }
      }
    }),
    mounted() {
      
    },
    computed: {
      
    },
    methods: {
      updatePassword() {
        let uid = store.user.uid;

        userAPI.updatePassword(uid, this.email, this.password, this.newPassword, (err, res) => {
          if (err) {
            // TODO@DoneSpeak 消息提醒              
            console.log('修改失败');
            return;
          }
          if(!APIHelper.isSuccessResult(res.code)) {
            // TODO@DoneSpeak 消息提醒
            console.log('修改失败: ' + res.msg);
            return;
          }
          this.email = null
          this.password = null;
          this.newPassword = null;
          this.$refs['newPassword'].reset()
          // TODO@DoneSpeak 消息提醒
          alert('修改成功');
        });
      }
    }
}
</script>

<style scoped>
.password-form {
  width: 420px;
}
</style>
