<template>
  <v-layout row justify-center>
    <v-dialog v-model="displayme" persistent max-width="500px">
      <v-card ref="form">
        <v-card-title>
          <span class="headline">Sign Up</span><span class='ml-2 red--text' v-text="errorMessage"></span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field 
                  label="Email " 
                  prepend-icon="person" 
                  required
                  :rules="[rules.required, rules.email]"
                  ref="email"
                  v-model="email">
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field 
                  label="Password " 
                  prepend-icon="lock" 
                  type="password" 
                  hint="必须包含数字和字符，且长度大于8"
                  :rules="[rules.required, rules.password]"
                  required 
                  ref="password"
                  v-model="password">
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field 
                  label="Password Confirm" 
                  prepend-icon="lock" 
                  type="password" 
                  required
                  :rules="[rules.required, () => password == repassword || '两次输入密码匹配']"
                  ref="repassword"
                  v-model="repassword">
                </v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
          <v-card-actions><v-btn color="primary" flat @click.native="hide()">关闭</v-btn>
          <v-spacer></v-spacer>
          <v-slide-x-reverse-transition>
            <v-tooltip
              left
              v-if="formHasErrors">
              <v-btn
                icon
                @click="resetForm"
                slot="activator"
                class="my-0">
                <v-icon>refresh</v-icon>
              </v-btn>
              <span>Refresh form</span>
            </v-tooltip>
          </v-slide-x-reverse-transition>
          <v-btn color="primary" flat @click.native="submit">注册</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import userAPI from '../api/user'
import APIHelper from '../api/helper'
import store from '../store/store'
import bus from "../util/bus.js"

export default {
  props: ['displayme'],
  data: () => ({
      email: '',
      password: '',
      repassword: '',
      formHasErrors: false,
      errorMessage: null,
      rules: {
        required: (value) => !!value || '不能为空',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'e-mail 格式不正确'
        },
        password: (value) => {
          const pattern = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
          return pattern.test(value) || '必须包含数字和字符，且长度大于8';
        }
      }
  }),
  computed: {
    form() {
      return {
        email: this.email,
        password: this.password,
        repassword: this.repassword
      }
    }
  },
  methods: {
    hide() {
      this.resetForm();
      this.$emit('hide');
    },
    submit() {
      this.formHasErrors = false

      Object.keys(this.form).forEach(f => {
        if (!this.form[f]){
          this.formHasErrors = true;
        }
        this.$refs[f].validate(true)
      });
      if(!this.formHasErrors) {
        // TODO@DoneSpeak 如果email是真实存在的，则会收到一封邮件，否则返回错误码
        userAPI.signup({
          email: this.email,
          password: this.password
        }, (err, res) => {
          if (err) {
            this.errorMessage = err.msg;
            this.formHasErrors = true;
            return;
          }
          if(!APIHelper.isSuccessResult(res.code)) {
            this.errorMessage = res.msg;
            this.formHasErrors = true;
            return;
          }
          debugger;
          // this.storeUser(res.data.user, res.data.token);
          this.hide();
        });
      }
    },
    resetForm() {
      this.formHasErrors = false

      Object.keys(this.form).forEach(f => {
        this.$refs[f].reset()
      })
    },
    storeUser(user, token) {
      user.isLogin = true;
      store.storeUser(user, token);
      const callback = {};
      bus.$emit("User-Signup", callback);
    }
  }
};
</script>

<style>

</style>
