<template>
  <v-content>
    <v-container fluid>
      <v-layout row justify-center>
        <v-dialog class='dialog-selecter' v-model="modalShower.publisherSelecter" width=“1020px” max-width="1020px">
          <v-card>
            <v-card-title>
              <h4 class="title">修改关注</h4><span class='publisher-selecter-tips'>试着使用 Ctrl + F 进行查找</span>
            </v-card-title>
            <v-card-text>
              <v-layout class='category-panel' row wrap justify-center>
                <div>
                  <v-tabs
                    show-arrows
                    >
                    <v-btn 
                      v-for="category in categories" 
                      :key="category.id"
                      :outline="categorySelected != category.id"
                      color="primary"
                      small
                      @click="switchCategoryTo(category.id)">
                      {{category.name}}
                    </v-btn>
                  </v-tabs>
                </div>
                <v-spacer></v-spacer>
              </v-layout>
              <v-layout class='publisher-panel' row wrap justify-center>
                <div v-for="(publishers,index) in publisherGroups" :key="index" class='publisher-group'>
                  <p class='publisher-item' v-for="publisher in publishers" :key="publisher.id" @click="changeFavorite(publisher)">
                    <v-chip 
                    class='publisher-chip' 
                    small 
                    :class="{'white--text': !!publishersSelected[publisher.id]}"
                    :outline="!publishersSelected[publisher.id]"
                    color="teal">
                      {{publisher.name}}
                    </v-chip>
                  </p>
                </div>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="amber lighten-1" small @click.native="modalShower.publisherSelecter = false">关闭</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
      <v-layout justify-center>
        <v-flex xs12 sm8 md6>
          <v-card>
            <v-card-text>
              <v-layout row justify-center>
                <v-avatar class='text-center-right' size=160>
                  <img :src="user.avatar"/>
                  <!-- <img src="../assets/images/avatar.png"> -->
                </v-avatar>
              </v-layout>
              <v-layout row justify-center>
                <v-flex xs12 sm8 md8>
                  <v-card flat>
                    <v-card-text class="account-card">
                        <v-layout row wrap>
                          <v-flex xs12>
                            <v-text-field
                              label="Name"
                              prepend-icon="person"
                              single-line
                              v-model="userNewName"
                              @blur="updateName"
                            ></v-text-field>
                              <!-- <v-btn color="pink darken-1" dark small>修改</v-btn> -->
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field
                              label="E-mail"
                              prepend-icon="email"
                              single-line
                              v-model="user.email"
                              readonly
                            ></v-text-field>
                          </v-flex>
                        </v-layout>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout justify-center>
        <v-flex xs12 sm8 md6>
          <v-card class='favorite-panel' >
            <v-card-title>
              <h3 class='title'>所关注的内容</h3> <v-btn small dark color='pink darken-1' @click="modalShower.publisherSelecter = true">修改关注</v-btn>
            </v-card-title>
            <v-card-text>
              <div>
                <v-tabs
                  show-arrows
                  >
                  <v-btn 
                  v-for="category in categories"
                  :key="category.id"
                  small
                  color='primary'
                  :outline="categorySelected != category.id"
                  @click="switchCategoryTo(category.id)">
                    {{category.name}}
                  </v-btn>
                </v-tabs>
              </div>
              <div class='pl-1 pr-1'>
                <v-chip v-for="(favPublisher, i) in favorites.get(categorySelected)"
                :key="i"
                close
                @input="cancelFavoriteSource(favPublisher)"
                color="teal" text-color="white">
                  <span>{{favPublisher.name}}</span>
                </v-chip>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import Data from "../store/data"
import store from '../store/store'
import userAPI from '../api/user'
import publisherAPI from '../api/publisher'
import categoryAPI from '../api/category'
import favoriteAPI from '../api/favorite'
import APIHelper from '../api/helper'
import Vue from 'vue'

import bus from '../util/bus'

export default {
    name: 'UserInfo',
    data: () => ({
      user: {
        name: 'DoneSpeak',
        email: 'guanrong.young@gmail.com',
        avatar: 'http://img.hb.aicdn.com/394c906b25ae347a61683192c00161c6e2e94e3ca0426-fXq9W5_fw658'
      },
      userNewName: '',
      publishers: [],
      categories: [],
      publishersSelected: [],
      categorySelected: 0,
      favorites: new Map(),
      favoritesIdMap: [],
      curFavorites: [],
      modalShower: {
        publisherSelecter: false
      },
      chips:[]
    }),
    created() {
      this.user = store.user;
      this.userNewName = this.user.name;
      this.initData();
    },
    mounted() {
    },
    computed: {
      publisherGroups: function() {      
        let publishers = this.publishers;
        let group = [];
        let maxGroupNum = 7;
        let groupSize = Math.ceil(publishers.length / maxGroupNum);
        let start = 0;
        for(let index = 0; index < maxGroupNum; index ++) {
          group[index] = publishers.slice(start, start + groupSize);
          start += groupSize;
        }
        return group;
      }
    },
    methods: {
      updateName() {
        if(this.userNewName == this.user.name) {
          return;
        }
        userAPI.updateName(this.user.uid, this.userNewName, (err, res) => {
          if (err) {
            // TODO@DoneSpeak 失败提示
            console.log(err);
            this.userNewName = this.user.name;
            return;
          }
          if(!APIHelper.isSuccessResult(res.code)) {
            // TODO@DoneSpeak 失败提示
            console.log(res);
            this.userNewName = this.user.name;
            return;
          }
          this.user.name = this.userNewName;
          store.updateUser(this.user);
        });
      },
      changeFavorite(publisher) {
        let curCategory = this.categorySelected;

        let publishers = this.favorites.get(curCategory);
        if(this.favoritesIdMap[curCategory][publisher.id]) {
          // 删除
          // this.favoritesIdMap[curCategory][publisher.id] = false;
          let index = 0;
          for(index = 0; index < publishers.length; index ++ ) {
            let p = publishers[index];
            if(p.id == publisher.id) {
              break;
            }
          }
          if(index < publishers.length) {
            this.requestRemoveFavorite(this.categorySelected, publisher.id, () => {
              Vue.set(this.publishersSelected, publisher.id, false);
              publishers.splice(index, 1);
            });
          }
        } else {
          // 添加
          this.requestAddFavorite(this.categorySelected, publisher.id, () => {
            Vue.set(this.publishersSelected, publisher.id, true);
            publishers[publishers.length] = publisher;
          });
        }
      },
      cancelFavoriteSource(publisher) {
        let publishers = this.favorites.get(this.categorySelected);
        let index = 0;
        for(index = 0; index < publishers.length; index ++ ) {
          let p = publishers[index];
          if(p.id == publisher.id) {
            break;
          }
        }
        if(index < publishers.length) {
          this.requestRemoveFavorite(this.categorySelected, publisher.id, () => {
            Vue.set(this.publishersSelected, publisher.id, false);
            publishers.splice(index, 1);
          });
        }
      },
      requestRemoveFavorite(categoryId, publisherId, callback) {
          let uid = store.user.uid;
          favoriteAPI.removeFavoriteSrc(uid, categoryId, publisherId, (err, res) => {
            if (err) {
              // TODO@DoneSpeak 消息提醒              
              console.log('删除失败');
              return;
            }
            if(!APIHelper.isSuccessResult(res.code)) {
              // TODO@DoneSpeak 消息提醒
              console.log('删除失败: ' + res.msg);
              return;
            }
            // TODO@DoneSpeak 消息提醒
            console.log('删除成功');
            if(!!callback) {
              callback();
            }
          });
      },
      requestAddFavorite(categoryId, publisherId, callback) {
          let uid = store.user.uid;
          favoriteAPI.addFavoriteSrc({
            uid, categoryId, publisherId 
            }, (err, res) => {
            if (err) {
              // TODO@DoneSpeak 消息提醒
              console.log('添加失败');
              return;
            }
            if(!APIHelper.isSuccessResult(res.code)) {
              // TODO@DoneSpeak 消息提醒
              console.log('添加失败: ' + res.msg);
              return;
            }
            // TODO@DoneSpeak 消息提醒
            console.log('添加成功');
            if(!!callback) {
              callback();
            }
          });
      },
      initData() {
        this.initPublishers(() =>{
          this.initCategories(() => {
            this.categorySelected = this.categories[0].id;
            this.categorySelected = this.categorySelected;
            this.initFavorites(this.categories, this.categories[0].id);
          });
        });
      },
      initPublishers(callback) {
        publisherAPI.listPublishers((err, res) => {
          if (err) {
            this.publishers = [];
            return;
          }
          if(!APIHelper.isSuccessResult(res.code)) {
            this.publishers = [];
            return;
          }
          this.publishers = res.data.publishers;
          this.publishers.sort((x, y) => {
            let result = x.name.length - y.name.length;
            if(result == 0) {
              if(x.name > y.name) {
                return 1;
              }
              if (x.name < y.name) {
                return -1;
              }
              return 0;
            }
            return result;
          });
          if(!!callback) {
            callback();
          }
        });
      },
      initCategories(callback) {
        categoryAPI.listCategories((err, res) => {
          if (err) {
            this.categories = [];
            return;
          }
          if(!APIHelper.isSuccessResult(res.code)) {
            this.categories = [];
            return;
          }
          this.categories = res.data.categories;
          if(!!callback) {
            callback();
          }
        });
      },
      initFavorites(categories, curCategoryId) {
        favoriteAPI.listFavoriteSrc(this.user.uid, (err, res) => {
          this.favorites = new Map();
          if (err || !APIHelper.isSuccessResult(res.code)) {
            return;
          }
          for(let i in categories) {
            let c = categories[i];
            this.favoritesIdMap[c.id] = [];
            this.favorites.set(c.id, []);
          }
          let favoriteSourceses = res.data.sources;
          for(let index in favoriteSourceses) {
            let fav = favoriteSourceses[index];
            this.favorites.set(fav.category.id, fav.publishers);
            let publishers = [];
            for(let i in fav.publishers) {
              let p = fav.publishers[i];
              publishers[p.id] = fav.publishers[i];
              this.favoritesIdMap[fav.category.id][p.id] = true;
            }
          }
          this.publishersSelected = this.favoritesIdMap[curCategoryId];
        });
      },
      switchCategoryTo(categoryId) {
        this.categorySelected = categoryId;
        this.publishersSelected = this.favoritesIdMap[this.categorySelected];
      }
      
    }
}
</script scoped>

<style>
.account-card {
  padding: 0;
}
.category-panel {
  margin-top: -12px;
}
.favorite-panel {
  margin-top: 12px;
  min-height: 360px;
}

.dialog-selecter {
  margin-top: -200px;
}
.publisher-group {
  min-width: 110px;
}
/* publisher */
.publisher-item {
  margin-bottom: 2px;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  color: #3d3d3d;
}
.publisher-item:hover {
  background: #B2DFDB;
}
.publisher-selecter-tips {
  margin-top:8px;
  margin-left: 8px;
  font-size: 12px;
  color: #636363;
}
/* favorite */
.fav-categories {
  margin-top: -12px;
  margin-bottom: 8px;
}
.publisher-panel {
  margin-top: 5px;
  overflow: auto;
  /* width: 1153px; */
  height: 400px;
}
.favorite-publisher {
  background: #52c7b8;
}
.publisher-chip {
  margin: 0;
}
.publisher-chip .chip__content{
  cursor: pointer;
}
.publisher-chip, .publisher-chip > span {
  width: 100%;
}
</style>
