<template>
  <v-app>
    <v-content>
      <v-toolbar flat color="white">
        <v-spacer></v-spacer>
        <v-tooltip v-if="user.isLogin" bottom>
          <v-btn icon large  slot="activator" to="/user">
            <v-avatar class='grey lighten-4' size="45">
              <img :src="user.avatar">
            </v-avatar>
          </v-btn>
          <div class='user-info-tip'>
            <span v-text="user.name"></span>
            <span v-text="user.email"></span>
          </div>
        </v-tooltip>
        <div v-else>
          <a class='link-btn' @click.stop="showSignin=true">登录</a>
          <a class='link-btn' @click.stop="showSignup=true">注册</a>
        </div>
      </v-toolbar>
      <v-container fluid>
        <v-layout column align-center justify-center class='logo'>
          <img src='../assets/images/logo.png'>
        </v-layout>
        <v-layout row justify-center class='searcher'>
          <v-flex xs12 sm8 md6>
            <v-card class='searcher-input'>
              <v-text-field 
                append-icon='search'
                :append-icon-cb="search"
                placeholder='输入你想要检索的内容'
                autofocus
                solo
                single-line
                v-model="query"
                @keyup.enter="search()"
              ></v-text-field>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <signin :displayme="showSignin" @hide="hideSignin"></signin>
      <signup :displayme="showSignup" @hide="hideSignup"></signup>
    </v-content>
    <v-footer>
      <v-layout row wrap align-center>
        <v-flex xs12>
          <div class='ml-3'>
            Made by <a href="https://github.com/donespeak">Donespeak</a>
          </div>
        </v-flex>
      </v-layout>
    </v-footer>
</v-app>
</template>

<script>
import Signin from "../components/Signin"
import Signup from "../components/Signup"
import bus from "../util/bus.js"
import store from "../store/store.js"

export default {
  name: "Index",
  data: () => ({
    query: '',
    user: {
      name: '',
      email: '',
      avatar: '',
      uid: '',
      isLogin: false
    },
    showSignin: false,
    showSignup: false
  }),
  mounted() {
    this.user = store.getUserFromStorage();
    this.listenToUserStatus();
  },
  methods: {
    search() {
      this.$router.push({
          // path: "/search ", // 这种方式无法带上 params
          name:"Search",
          params: {
            query: this.query
          }
        });
    },
    hideSignin() {
      this.showSignin = false;
    },
    hideSignup() {
      debugger;
      this.showSignup = false;
    },
    listenToUserStatus() {
      bus.$on("User-Signin", callback => {
        this.user = store.user;
      });
      bus.$on("User-Signup", callback => {
        this.user = store.user;
      });
    }
  },
  components: {
    Signin,
    Signup
  }
}
</script>

<style scoped>
.searcher {
  margin-top: 30px;
}

.searcher-input {
  margin: auto;
  max-width: 600px;
}

.logo {
  margin-top: 120px;
}

.link-btn {
  margin: 6px;
  text-decoration: none;
  color: #2c2c2c;
}
</style>
