<template>  
  <v-content>
    <v-container fluid>
      <v-layout row justify-center>
        <v-flex md4 xs8>
          NOT FOUND!
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  export default {
    data: () => ({
     
    }),
    props: {
      source: String
    }
  }
</script>
