<template>
  <v-app>
    <searcher-header></searcher-header>
    <result-shower></result-shower>
    <base-footer></base-footer>
  </v-app>
</template>

<script>
import SearcherHeader from "../components/Searcher"
import ResultShower from "../components/ResultShower"
import BaseFooter from '../components/BaseFooter'

export default {
  data: () => ({
  }),
  components: {
    SearcherHeader,
    ResultShower,
    BaseFooter
  }
}
</script>

<style scope>
</style>
