<template>
  <v-app id="inspire">
    <v-navigation-drawer
      app
      fixed
      hide-overlay
      temporary
      v-model="drawer"
    >    
    <v-toolbar flat>
      <v-btn icon large to="/search">
        <v-avatar size="32px" tile>
          <img src="../assets/images/logo-icon.png">
        </v-avatar>
      </v-btn>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            CARELATIVE
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider></v-divider>
      <v-list>
        <template>
          <v-list-tile @click="" to="/user/profile">
            <v-list-tile-action>
              <v-icon>account_circle</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                个人主页
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-group
              prepend-icon='bookmark'
              no-action
            >
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>收藏夹</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="" to="/user/favorite/articles">
                <v-list-tile-content>
                  <v-list-tile-title>文章收藏</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="" to="/user/favorite/attaches">
                <v-list-tile-content>
                  <v-list-tile-title>附件收藏</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
          </v-list-group>
          <v-list-tile @click="" to="/user/security">
            <v-list-tile-action>
              <v-icon>lock</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>安全设置</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile @click="" to="/user/info">
            <v-list-tile-action>
              <v-icon>announcement</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                关于 CARELATIVE
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile @click="signout">
            <v-list-tile-action>
              <v-icon>launch</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                退出
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="pink darken-3"
      dark
      app
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <router-link class="hidden-sm-and-down white--text no-underline" to="/search"><span>CARELATIVE</span></router-link>
      </v-toolbar-title>
      <!-- <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field> -->
      <v-spacer></v-spacer>
      <!-- <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn> -->
      <v-tooltip bottom>
        <v-btn icon large  slot="activator" to="/user">
          <v-avatar class='grey lighten-4' size="45">
            <img :src="user.avatar">
          </v-avatar>
        </v-btn>
        <div class='user-info-tip'>
          <span v-text="user.name"></span>
          <span v-text="user.email"></span>
        </div>
      </v-tooltip>
    </v-toolbar>
    <router-view></router-view>
    <!-- <transition name="slide-right">
      
    </transition> -->
    <!-- <favorite></favorite> -->
    <!-- <user-info></user-info> -->
    <!-- <security-settings></security-settings> -->
    <!-- <abount></abount> -->
  </v-app>
</template>

<script>
import Favorite from "../components/Favorite"
import UserInfo from "../components/UserInfo"
import SecuritySettings from "../components/SecuritySettings"
import Info from "../components/Info"
import store from '../store/store'
import bus from '../util/bus'
import publisherAPI from '../api/publisher'
import categoryAPI from '../api/category'
import APIHelper from '../api/helper'

export default {
  data: () => ({
    user: {
      name: 'DoneSpeak',
      email: 'guanrong.young@gmail.com',
      avatar: 'http://img.hb.aicdn.com/394c906b25ae347a61683192c00161c6e2e94e3ca0426-fXq9W5_fw658'
    },
    drawer: null,
    publishers: [],
    categories: [],
  }),
  props: {
    source: String
  },
  created() {
  },
  mounted() {
    this.user = store.user;
  },
  components: {
    Favorite,
    UserInfo,
    SecuritySettings,
    Info
  },
  methods: {
    signout() {
      store.cleanUserInfo();
      this.$router.push("/");
    }
  }
}
</script>

<style scoped>
.no-underline {
  text-decoration: none;
}
</style>

